* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik Mono One", monospace;
    display: flex;
    min-height: 100vh;
    background: #100f10;
    align-items: center;
    justify-content: center;
}
.box {
    display: block;
}
h2 {
    color: #68c6fb;
    font-size: 9vw;
    position: relative;
}

h2::before {
    content: attr(data-text);
    color: #b6fb68;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    animation: print 5s linear infinite;
    border-right: 2px solid #68c6fb;
}

@keyframes print {
    0%, 10%, 100% {
        width: 0;
    }

    70%,90% {
        width: 100%;
    }
}

.wave {
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgb(114, 18, 216));
    color: rgb(129, 18, 226);
    top: 40px;
}
.wave span {
    display: inline-block;
    font-size: 5vw;
    animation: wave 2s infinite calc(.1s * var(--i));
}

.span {
    color: aliceblue;
}
@keyframes wave {
    0%, 40%,100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}